* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-top: 2vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
